.weather1 {
    background-color: #ddd;
    display: flex;
    justify-content: center;
}

.weather2 {
    background-color: #ba9b9b;
    display: flex;
    justify-content: center;
}

.currency {
    background-color: #85936f;
    text-align: center;
}

.currency2 {
    background-color: #a5e12d;

}

.currency2 h3 {
    font-size: 1.7vw;
    margin: 20px;
}

.clock {
    background-color: #9de06d;
}